@* help Template File *@
@main("ヘルプ") {
	<ul>
		<li>課題ページ</li>
			<p>課題に対しプログラムの閲覧と投稿ができます。課題は左のツリーから選択できます。</p>
		<li>ユーザーホーム</li>
			<p>自身のアクティビティやもらったコメント、いいねなどを確認することができます。</p>
		<li>投稿方法</li>
			<p>課題ページから、参照ボタンで投稿するファイルを選択しプログラムを投稿できます。その際に匿名にチェックを入れることで匿名投稿となります。匿名でない場合はユーザーIDが名前になります。</p>
			<p>投稿回数に制限はないので、修正した場合や複数投稿したい場合は再度投稿してください。投稿一覧からは最新の課題とそのコメントが表示され、レビューページで投稿を切り替えることができます。</p>
		<li>コメントとレス機能</li>
			<p>レビューページの最下部からコメントを行えます。他人のコメントに返信をしたい場合には、コメントにある返信のチェックボックスにチェックを入れることで自動的に返信用のメッセージが送信され、相手に通知も届きます。</p>
			<p>また、匿名にチェックを入れることで匿名投稿となります。</p>
		<li>「いいね」</li>
			<p>プログラムページにある4つのボタン(効率よさそう！、読みやすい！、構造がよさそう！、参考になった！)をまとめて「いいね」と呼びます。プログラムを見て共感したらぜひボタンを押してください。</p>
		<li>匿名</li>
			<p>匿名でプログラムやコメントを投稿すると、ランダムで選ばれた苗字が名前になります。その際に、同じ課題への投稿では同じ名前で、同じプログラムへのコメントは同じ名前になります。</p>
	</ul>
	
}