@(sid:Int,uid:String,iineMap:Map[String,Int])
@import helper._
@import helper.twitterBootstrap._
@import models.Comments

<html>
<head>
	<style type="text/css">
	
.iinebutton {
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 10px;
	border-style: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #248;
	color: #fff;
}

.iinebutton:hover {
	opacity: 0.8;
}

li{
	display: inline-block;
	margin: 3px 3px 0;	
}
	
   </style>  
</head>
	<body>
	<ul>
		<li>@form(routes.Application.pushIine(sid,uid,eff=true)) {<input type="submit" value="効率よさそう！[@iineMap.getOrElse(Iines.EFF,0)]" class="iinebutton">	}</li>
		<li>@form(routes.Application.pushIine(sid,uid,read=true)) {<input type="submit" value="読みやすい！[@iineMap.getOrElse(Iines.READ,0)]" class="iinebutton">}</li>
		<li>@form(routes.Application.pushIine(sid,uid,strc=true)) {<input type="submit" value="構造がよさそう！[@iineMap.getOrElse(Iines.STRC,0)]" class="iinebutton">}</li>
		<li>@form(routes.Application.pushIine(sid,uid,help=true)) {<input type="submit" value="参考になった！[@iineMap.getOrElse(Iines.HELP,0)]" class="iinebutton">}</li>
	</ul>
	</body>
</html>