@(sid:Int,vid:String,tid:Int,tasksWithIdx:List[((String,String),Int)],comments:List[Comment],msg:String="")

@import helper._
@import helper.twitterBootstrap._
@import models.Tasks

@main("ソースコード",styles=List("tab","prettify","task"),jss=List("prettify","tab")) {
<script>
	function checkRes() {
		var ids = $('[class="resCheck"]:checked').map(function() {
			return $(this).val().split(',')[0];
		}).get().join(',');
		var names = $('[class="resCheck"]:checked').map(function() {
			return $(this).val().split(',')[1];
		}).get().join(',');
		$("#rescmt").val(ids);
		if (names.length > 0) {
			$("#resTo").html(">>" + names);
			$("#reshdr").val(">>" + names);
		} else {
			$("#resTo").html("");
		}
	}
</script>
<div id="main">
	<p>@msg</p>
	<div id="codes">
		@printCode2Tab(tid)	
	</div>
	
	<hr>

	<iframe src="@routes.Application.iine(sid,vid)" class="iineframe">
	</iframe>

	<div id="comments">
		@printComment()
	</div>
<hr>
<p>コメントの投稿</p>
<div class="comment">
	@form(routes.Application.cmtPost(sid,vid,tid)) {
		<input type="checkbox" name="anonymous" value="anony">匿名で投稿<br>
		<p id ="resTo"></p>
		<textarea id="cmtbody" name="body" placeholder="コメントを入力(例:4行目のメソッド名はregistではなくregistrationが適切だと思います。)"  cols="60" style="height: 100px; width: 760px;"></textarea><br>
		<input type="submit" value="コメント投稿">
		<input type="hidden" id = "rescmt" name="resCmts" value="">
		<input type="hidden" id = "reshdr" name="resHeader" value="">
	}
</div>
@prettyPrintDecl()
</div>
}

@printComment()={
	<p>コメント一覧</p>
	<ul>
		@for(cmt <- comments){
			<li class="comment" id="cmt@cmt.commentid">
				@cmt.formatDate() @Users.getName(cmt.viewid) 
				<input type="checkbox" name="cid" class ="resCheck" value="@cmt.commentid,@Users.getName(cmt.viewid) " onclick="checkRes();">返信
				<pre >@cmt.body</pre>
				
			</li>
		}
	</ul>
}


@prettyPrintDecl()={
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
		jQuery(function() {
			prettyPrint();
		});
	</script>
}

@printCode2Tab(selectNum:Int) = {
	<ul id="tab">
		@for((task,i) <- tasksWithIdx){
			<li @if(i==(selectNum-1)){class="selected active"}>
				<a href="#tab@i">コード@{i+1}</a>
			</li>
		} 
	</ul>
	<div id="detail">
		@for((task,i) <- tasksWithIdx){
			<div id="tab@i" class="tabbox" @if(i==(selectNum-1)){style="display:block"}>
			<pre class="caption">
@task._1</pre>
				<pre class="prettyprint linenums">
@task._2</pre>
			</div>
		}
		
	</div>
}

